POSTGRES_USER=superduper
POSTGRES_PASSWORD=123456
POSTGRES_DB=cats

PG_ADMIN_USER=adminguy
PG_ADMIN_PASSWORD=password

PG_CRUD_USER=crudguy
PG_CRUD_PASSWORD=qwerty

PG_READ_USER=readguy
PG_READ_PASSWORD=p@$$w0rd

