POSTGRES_USER=superman
POSTGRES_PASSWORD=qwerty
POSTGRES_DB=mydatabase

PG_ADMIN_USER=adminguy
PG_ADMIN_PASSWORD=qwerty

PG_CRUD_USER=crudguy
PG_CRUD_PASSWORD=qwerty

PG_RW_USER=rwguy
PG_RW_PASSWORD=qwerty

PG_READ_USER=readguy
PG_READ_PASSWORD=qwerty

